.circle-container{
    width: 4vw;
    height: 4vw;
    border: 2px solid;
    border-radius: 50%;
    margin-top: -3.8vw;
    margin-left: 92vw;
    text-align: center;
    align-content: center;
    background-color: rgba(16,16,16,.85);
}

.top-link{
    text-decoration: none;
    color: #ccb08a;
}

@media screen and (max-width:960px){
    .circle-container{
        width: 60px;
        height: 60px;
        border: 2px solid;
        border-radius: 50%;
        margin-top: -3.8vw;
        margin-left: 86%;
        text-align: center;
        align-content: center;
        background-color: rgba(16,16,16,.85);
        z-index: 99999;
    }
}