.title-container{
    display: flex;
    width: 80%;
    height: 50vh;
    background-color: #242424;
    border-radius: 20px;
    margin-left: 10%;
}

.title-headers{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    color: #ccb08a;
    align-items: center;
    font-size: 60px;
}

@media screen and (max-width:960px) {
    .title-container{
        height: 20vh;
    }

    .title-headers{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vh;
        color: white;
        align-items: center;
        font-size: 40px;
    }
}