.project-title{
    text-align: center;
    font-size: 5vw;
    margin-top: 4vh;
    
}

#projects{
    background-color: rgba(16,16,16,.85);
}

@media screen and (max-width:960px){
    .project-title{
        text-align: center;
        font-size: 5vw;
    }   
}