.label{
    display: flex;
    width: 30vw;
    color: white;
    margin-left: 10%;
}

.label:first-of-type{
    margin-top: 15%;
}

.input,.text-area{
    display: flex;
    text-align: justify;
    width: 30vw;
    margin-left: 10%;
}

.text-area{
    height: 10vh;
}


.signup-form-container{
    position: relative;
    background-color: #242424;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    box-shadow: -2px -2px 5px grey, 2px 2px 5px grey;
    
}

.pop-up{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
    z-index: 999;
}

.button-holder{

    display: flex;
    justify-content: space-around;
    margin: auto 10%;
}

@media screen and (max-width:960px) {
    .signup-form-container{
        position: relative;
        background-color: #242424;
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 60vh;
        align-items: center;
        box-shadow: -2px -2px 5px grey, 2px 2px 5px grey;
        
    }

    .pop-up{
        display: flex;
        align-items: center;
    }

    .label{
        display: flex;
        width: 60%;
        color: white;
    }
    
    .label:first-of-type{
        margin-top: 50%;
    }
    
    .input,.text-area{
        display: flex;
        text-align: justify;
        width: 100%;
    }
    
    .text-area{
        height: 50%;
    }
}