

.card-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
}

.card-container>div{
    height: 75vh;
    width: 25vw;
    background-color: white;
    border-radius: 10px;
    border: #242424 1px;
    margin-top: -25vh;
    box-shadow: -2px -2px 5px grey, 2px 2px 5px grey;
    text-align: center;
}

.front-end-card{
    margin-left: 16vw;
    text-align: center;
}

.server-icon{
    font-size: 4vw;
    margin-top: 2vw;
    color: blue;
}

.front-icon{
    font-size: 4vw;
    margin-top: 2vw;
    color: blue;
}

.front-end-card>h2, .back-end-card>h2{
    text-align: center;
    margin: 2% auto;
}

.front-end-card>h3, .back-end-card>h3{
    text-align: center;
    margin: 5% 2vw;
}

.front-end-card>p, .back-end-card>p{
    text-align: center;
    margin: 5% 2vw;
}

.list-items{
    text-align: center;
    list-style: none;
    margin: 5% auto;
}

#skills{
    background-color: rgba(16,16,16,.85);
}

@media screen and (max-width:960px) {
    .card-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }

    .card-container>div{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    .card-container>div:first-child{
        margin-left: auto;
        margin-right: auto;
    }
    
    .card-container>div:last-child{
        margin-right: auto;
        margin-right: auto;
    }

    .server-icon, .front-icon{
        font-size: 20vw;
        justify-content: center;
        margin-top: 2vh;
        color: blue;
    }
    
    
    .card-container>h2{
        text-align: center;
        margin: 2vh auto;
    }
    
    .card-container>h3,.card-container>p{
        text-align: center;
        margin: 2vh 2vw;
    }
    
    .list-items{
        text-align: center;
        list-style: none;
        margin: 2vh auto;
    }
}